<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.uccapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/UCCAppMaterialTheme">
        <activity android:name=".RegistrationLinkActivity" android:parentActivityName=".AdministratorActivity"></activity>
        <activity
            android:name=".DepartmentListActivity"
            android:parentActivityName=".AdministratorActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DepartmentActivity"
            android:parentActivityName=".DepartmentListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".CourseListActivity"
            android:parentActivityName=".AdministratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseActivity"
            android:parentActivityName=".CourseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentsActivity"
            android:parentActivityName=".StudentsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentsListActivity"
            android:parentActivityName=".AdministratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdministratorActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterStudent"
            android:parentActivityName=".MainDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentProfileActivity"
            android:parentActivityName=".MainDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcademicActivity"
            android:parentActivityName=".MainDashboard"
            android:screenOrientation="portrait" />
    </application>

</manifest>