<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.uccapp">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/UCCAppMaterialTheme">
        <activity android:name=".UserListActivity" android:parentActivityName=".AdministratorActivity"/>
        <activity android:name=".UserActivity" />
        <activity
            android:name=".RegistrationLinkActivity"
            android:parentActivityName=".AdministratorActivity" />
        <activity
            android:name=".DepartmentListActivity"
            android:parentActivityName=".AdministratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DepartmentActivity"
            android:parentActivityName=".DepartmentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".AdministratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseActivity"
            android:parentActivityName=".CourseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentsActivity"
            android:parentActivityName=".StudentsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentsListActivity"
            android:parentActivityName=".AdministratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".AdministratorActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainDashboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentProfileActivity"
            android:parentActivityName=".MainDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcademicActivity"
            android:parentActivityName=".MainDashboard"
            android:screenOrientation="portrait" />
        <provider
            android:authorities="com.android.uccapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>