<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.uccapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/UCCAppMaterialTheme">
        <activity android:name=".FeeActivity"></activity>
        <activity
            android:name=".FinanceActivity"
            android:parentActivityName=".MainDashboardActivity" />
        <activity
            android:name=".UserProfileActivity"
            android:parentActivityName=".MainDashboardActivity" />
        <activity android:name=".FeeListActivity" />
        <activity
            android:name=".FinancierActivity"
            android:parentActivityName=".FinancierDashboardActivity" />
        <activity android:name=".TimeTableListActivity" />
        <activity
            android:name=".FinancierDashboardActivity"
            android:launchMode="singleTop" />
        <activity android:name=".CreateTimetableActivity" android:parentActivityName=".AdministratorActivity"/>
        <activity
            android:name=".GradeBookActivity"
            android:parentActivityName=".RegisteredStudentsListActivity" />
        <activity
            android:name=".RegisteredStudentsListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".LecturerDashboardActivity" />
        <activity
            android:name=".LecturerDashboardActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".StaffListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".AdministratorActivity" />
        <activity
            android:name=".StaffActivity"
            android:parentActivityName=".StaffListActivity" />
        <activity
            android:name=".UserListActivity"
            android:parentActivityName=".AdministratorActivity" />
        <activity android:name=".UserActivity" />
        <activity
            android:name=".RegistrationLinkActivity"
            android:parentActivityName=".AdministratorActivity" />
        <activity
            android:name=".DepartmentListActivity"
            android:parentActivityName=".AdministratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DepartmentActivity"
            android:parentActivityName=".DepartmentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".AdministratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseActivity"
            android:parentActivityName=".CourseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentsActivity"
            android:parentActivityName=".StudentsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentsListActivity"
            android:parentActivityName=".AdministratorActivity"
            android:screenOrientation="portrait" /> <!-- LAUNCHER -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdministratorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainDashboardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentProfileActivity"
            android:parentActivityName=".MainDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcademicActivity"
            android:parentActivityName=".MainDashboardActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.android.uccapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>